IF ELSE Statement

In [ ]:
if 12>=18:
  s="it can vot"
else:
  s="it cannot vot"

print(s)

it cannot vot

IF ELSE IF statemant

In [ ]:
age = int(input("Enter your age="))

if 0<age<=12:
  print("your the chid")
elif 12<age<20:
  print("your the student")
elif 20<=age<65:
  print("your the adult")
elif age<=0:
  print("invalid age")
else:
  print("your the senior citizen")

Enter your age=-35
invalid age

In [ ]:
income=int(input("input income="))

if 15000 <=income<= 20000:
  print(f"if your income iscount{income*0.1}")


elif 20000 <=income<= 50000:
  print(f"if your income discount{income*0.2}")


elif 50000 <=income<= 70000:
  print(f"if your income discount{income*0.3}")

elif income<=15000:
  print("no discount")

else  :
  print(f"if income your discount{income*0.4}")

input income=42568
if your income discount8513.6

In [ ]:
x=56.236
print("%.2f"%x)

56.24

In [ ]:
len(['Hello',1,2,3])

4

In [ ]:
a ='abcd'
for i in a:
  print(i.upper())

A
B
C
D

Password Checker

In [ ]:
Box=["jevlis ka"]
pasword=input("tujha pasword sang=")
if pasword=="Sagar@123":
  print(f'tu barobr pasword takla ahes ani he tujhu important mahiti{Box}')
else:
  print("tu password chukicha takla ahe mi nahi sangnar mahiti")

tujha pasword sang=sango
tu password chukicha takla ahe mi nahi sangnar mahiti

In [ ]:
Prime_no=int(input("enter the no="))
if Prime_no%2!=0:
  print("it is prime no")
else:
  print("it is not prime no")

enter the no=29
it is prime no

Even or Odd

In [ ]:
number=int(input("enter the no="))
if number%2==0:
  print("it is even no")
else:
  print("it is odd no")

enter the no=29
it is odd no

Positive, Negative, or Zero

In [ ]:
number=int(input("enter the no="))
if number>0:
  print("number is postive")
elif number<0:
  print("number is negative")
else:
  print("number is zero")

enter the no=0
number is zero

Largest of Two Numbers

In [ ]:
a=int(input("enter no"))
b=int(input("enter no"))
if a>b:
  print(f'{a} is greater than {b}')
else:
  print(f'{b} is greater than {a}')

enter no25
enter no65
65 is greater than 25

Vowel or Consonant

In [ ]:
x=input("Enter any Alphabate=")
if x=='a'or x=='e'or x=='i'or x=='o'or x=='u':
  print("Vowel")
else:
  print("Consonant")

Enter any Alphabate=c
Consonant

Leap Year Checker

In [ ]:
leap_year=int(input("enter the year="))
if leap_year%4==0:
  print(" it is leap year")
else:
  print("it is not leap year")

enter the year=2014
it is not leap year

Grade Calculator

In [ ]:
marks=int(input("Enter student marks="))
if 90<=marks<=100:
  print("Student Pass at A Garde")
elif 80<=marks<=89:
  print("Student pass at B Grade")
elif 70<=marks<=79:
  print("Student pass at B Grade")
elif 80<=marks<=69:
  print("Student pass at B Grade")

else:
  print("Student is fail")

Enter student marks60
Student is fail

Calculator

In [ ]:
a=int(input("Enter Number="))
b=int(input("Enter Number="))
c=input("Enter Operator=")
if (c=='+'):
  print(a+b)
elif (c=='-'):
  print(a-b)
elif (c=='*'):
  print(a*b)
elif (c=='/'):
  print(a/b)
else:
  print("error")

Enter Number=5
Enter Number=26
Enter Operatord
error

Triangle Type Checker

In [ ]:
a=int(input("Enter side a="))
b=int(input("Enter side b="))
c=int(input("Enter side c="))
if a==b==c:
  print("Equilateral triangle")
elif a==b or b==c or c==a:
  print("Isosceles triangle")
else:
  print("Scalene triangle")

Enter side a=65
Enter side b=65
Enter side c=84
Isosceles triangle

Day of the Week

In [ ]:
Day=int(input("Enter Number"))
if :
  print("Day")
else:
  print("day not found")

Enter Number5
day not found

Nested If-Else: Largest of Three Numbers

In [ ]:
a=int(input("Enter Number="))
b=int(input("Enter Number="))
c=int(input("Enter Number="))
if a>b:
  if a>c:
    print(f'{a} is greater')
else:
  if b>c:
    print(f'{b} is greater')
  else:
    print(f'{c} is greater')

Enter Number=25
Enter Number=45
Enter Number=12
45 is greater

Number to Words

In [ ]:
names = ['Varun','Sagar','Mayuri','tejshree','Parth','Nilesh','Aniket',"nitin","racecar"]
for i in names:
  if "a" not in i:
    print(i)

tejshree
Nilesh
Aniket
nitin

In [ ]:
for i in names:
  if i==i[::-1]:
    print(i)

nitin
racecar