# Mastering Dictionaries in Python

**What is a Dictionary?**

In Python, a dictionary is an unordered collection of data that stores elements as key-value pairs.
Think of it like a real-world dictionary where you look up a word (key) to find its definition (value).

**Key Characteristics:**

* **Keys:**
    * Unique and immutable (usually strings or numbers).
    * Used to access the corresponding value.
* **Values:**
    * Can be of any data type (numbers, strings, lists, other dictionaries, etc.).

In [ ]:
#Dictionaries are written with curly brackets, and have keys and values:
l={"cars":"BMW",
   "bike":"shine",
   "food":"omlatte"}
print(l)
# Using the dict() constructor
p=dict(breakfast="poha",lunch="daal bhat",Dinner="Cadbury")
print(p)

{'cars': 'BMW', 'bike': 'shine', 'food': 'omlatte'}
{'breakfast': 'poha', 'lunch': 'daal bhat', 'dinner': 'Cadbury'}

##Accessing Values:

You can access the value associated with a key using square brackets [ ]:

In [ ]:
#Access values by key
l["cars"]

'BMW'

##Adding or Modifying Values:

Add a new key-value pair:

In [ ]:
p["breakfast"]= "dosa"
print(p)

{'breakfast': 'dosa', 'lunch': 'daal bhat', 'dinner': 'Cadbury'}

## Removing Values:

Remove a key-value pair:

In [ ]:
del p["breakfast"]
print(p)

{'lunch': 'daal bhat', 'dinner': 'Cadbury'}

Remove and return the value:

In [ ]:
a=p.pop("lunch")
print(a)

daal bhat

**Key Methods:**

* **keys():** Returns a view of all keys in the dictionary.
* **values():** Returns a view of all values in the dictionary.
* **items():** Returns a view of key-value pairs as tuples.
* **get(key, default):** Returns the value for the key. If the key is not found, it returns the default value (optional).

In [ ]:
dir(a)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
len(a)

2

In [ ]:
import requests

In [ ]:
api_key = "274bdecaed5fc5dbb5e63a15905b17ad"  # Replace with your API key
city = 'Phaltan'
url = f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

response = requests.get(url)
response.raise_for_status()  # Raise an exception for error status codes
data = response.json()

In [ ]:
data

{'coord': {'lon': 74.4333, 'lat': 17.9833},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 37.53,
  'feels_like': 34.82,
  'temp_min': 37.53,
  'temp_max': 37.53,
  'pressure': 1010,
  'humidity': 12,
  'sea_level': 1010,
  'grnd_level': 942},
 'visibility': 10000,
 'wind': {'speed': 4.41, 'deg': 16, 'gust': 5.3},
 'clouds': {'all': 2},
 'dt': 1746167156,
 'sys': {'country': 'IN', 'sunrise': 1746146104, 'sunset': 1746192198},
 'timezone': 19800,
 'id': 1259811,
 'name': 'Phaltan',
 'cod': 200}

In [ ]:
data.keys()

dict_keys(['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'])

In [ ]:
data["id"]

1259811

In [ ]:
data["wind"]

{'speed': 0.91, 'deg': 351, 'gust': 1.42}

In [ ]:
data["coord"]

{'lon': 74.4333, 'lat': 17.9833}

In [ ]:
print(f"phaltan che coodinate {data['coord']['lat']},{data['coord']['lon']} ")

phaltan che coodinate 17.9833,74.4333

In [ ]:
print(f"phaltan{data['wind']}")

phaltan{'speed': 0.91, 'deg': 351, 'gust': 1.42}

In [ ]:

api_key = "274bdecaed5fc5dbb5e63a15905b17ad"  # Replace with your API key
city = "Mumbai"
url = f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

response = requests.get(url)
response.raise_for_status()  # Raise an exception for error status codes
data = response.json()

In [ ]:
data

{'coord': {'lon': 72.8479, 'lat': 19.0144},
 'weather': [{'id': 701,
   'main': 'Mist',
   'description': 'mist',
   'icon': '50n'}],
 'base': 'stations',
 'main': {'temp': 28.99,
  'feels_like': 34.5,
  'temp_min': 28.99,
  'temp_max': 28.99,
  'pressure': 1012,
  'humidity': 79,
  'sea_level': 1012,
  'grnd_level': 1011},
 'visibility': 3000,
 'wind': {'speed': 2.06, 'deg': 290},
 'clouds': {'all': 40},
 'dt': 1743692982,
 'sys': {'type': 1,
  'id': 9052,
  'country': 'IN',
  'sunrise': 1743642053,
  'sunset': 1743686556},
 'timezone': 19800,
 'id': 1275339,
 'name': 'Mumbai',
 'cod': 200}

In [ ]:
data["id"]

1275339

# Dictionary Homework Questions üè†üí™üèº

**1. Basic Dictionary Manipulation**

*   **Create a dictionary:**
    *   `student = {'name': 'Alice', 'age': 25, 'grades': [90, 85, 92]}`
*   **Access and print:**
        *   Print the student's name.
        *   Print the student's age.
        *   Print the student's first grade.
*   **Add a new key-value pair:**
        *   Add a key 'major' with the value 'Computer Science'.
*   **Modify an existing value:**
        *   Change the student's age to 26.
*   **Remove a key-value pair:**
        *   Remove the 'grades' key and its associated value.

**2. Dictionary Iteration**

*   **Iterate through keys:**
        *   Print all the keys in the dictionary.
*   **Iterate through values:**
        *   Print all the values in the dictionary.
*   **Iterate through key-value pairs:**
        *   Print each key-value pair in the format: "Key: <key>, Value: <value>"

**3. Dictionary Methods**

*   **`keys()`:** Print the keys of the dictionary.
*   **`values()`:** Print the values of the dictionary.
*   **`items()`:** Print the key-value pairs as tuples.
*   **`get()`:**
        *   Get the value for the key 'age'.
        *   Get the value for a key that might not exist, using the `get()` method with a default value.

**4. Dictionary Comprehension**

*   Create a new dictionary that squares the values of the following dictionary:
    *   `numbers = {1: 1, 2: 4, 3: 9}`

**5. Filtering a Dictionary**

*   Given a dictionary of student names and their scores, create a new dictionary containing only students who scored above 90.

**6. Combining Dictionaries**

*   Given two dictionaries, create a new dictionary that combines the key-value pairs from both. If a key exists in both dictionaries, use the value from the first dictionary.

**7. Word Frequency**

*   Write a program that takes a sentence as input and creates a dictionary where the keys are the words in the sentence and the values are the number of times each word appears.

**Remember to:**

*   Use meaningful variable names.
*   Write clear and concise code.
*   Add comments to explain your code.

In [ ]:
#Create a dictionary
student = {'name': 'Alice', 'age': 25, 'grades': [90, 85, 92]}
print(student)

{'name': 'Alice', 'age': 25, 'grades': [90, 85, 92]}

In [ ]:
student["name"]

'Alice'

In [ ]:
student["age"]

25

In [ ]:
student["grades"][0]

90

In [ ]:
del student["grades"]
print(student)

{'name': 'Alice', 'age': 25}

In [ ]:
student.keys()

dict_keys(['name', 'age'])

In [ ]:
student.values()

dict_values(['Alice', 25])

In [ ]:
student["major"]="computer science"
print(student)

{'name': 'Alice', 'age': 25, 'major': 'computer science'}

In [ ]:
student.values()

dict_values(['Alice', 25, 'computer science'])

In [ ]:
student.keys()

dict_keys(['name', 'age', 'major'])

In [ ]:
for key,values in student.items():
    print(key,values)

name Alice
age 25
major computer science

In [ ]:
x=input("enter any word")
x={"child1" : {
    "name" : "Emil",
    "year" : 2004}
  ,
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }}
for i in x:
  print(f"information of student{x}",i)

enter any wordchild1
information of student{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}} child1
information of student{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}} child2
information of student{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}} child3

In [ ]:
#Write a program to check if a given key exists in the dictionary
student = {'name': 'Alice', 'age': 25, 'grades': [90, 85, 92]}
s
for i in key:
  print(f"the key {key} is present in the dictionary",i)
else:
  print(f"the key {key} is not present in the dictionary")

the key age is present in the dictionary a
the key age is present in the dictionary g
the key age is present in the dictionary e
the key age is not present in the dictionary

In [ ]:
# make a dict on subject and marks
subject={"maths":25,"Science":35,"history":45,"Marathi":55}
print(type(subject),subject)

<class 'dict'> {'maths': 25, 'Science': 35, 'history': 45, 'Marathi': 55}

In [ ]:
#find total marks
total=sum(subject.values())
print(total)

160

In [ ]:
#find marks in maths
print(subject["maths"])

25

In [ ]:
#find the lowest mark
print(min(subject.values()))

25