In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("OneDrive/Desktop/vgchartz-2024.csv")
df

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64011,/games/boxart/full_2779838AmericaFrontccc.jpg,XBlaze Lost: Memories,PC,Visual Novel,Aksys Games,Arc System Works,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-11,2019-01-28
64012,/games/boxart/full_8031506AmericaFrontccc.jpg,"Yoru, Tomosu",PS4,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30,2020-05-09
64013,/games/boxart/full_6553045AmericaFrontccc.jpg,"Yoru, Tomosu",NS,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30,2020-05-09
64014,/games/boxart/full_6012940JapanFrontccc.png,Yunohana SpRING! ~Mellow Times~,NS,Visual Novel,Idea Factory,Otomate,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-28,2019-02-24
64015,/games/boxart/default.jpg,Yurukill: The Calumniation Games,PS4,Visual Novel,Unknown,G.rev Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-29

In [12]:
df.head(1)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

In [18]:
len(df[df["release_date"].astype(str).str[5:7]=="08"])

3904

üî¢ Sales & Performance Analysis
What is the average global sales of all games?
Which game has the highest global sales?
Which console has the highest total sales?
What is the total number of games released per console?
Which publisher has released the most games?
Which genre has the highest average sales per game?
What are the top 10 best-selling games of all time in this dataset?
Which year saw the most game releases?
What is the average critic score of games by genre?
Is there a correlation between critic score and global sales?

üåç Regional Sales Analysis
Which region (NA, EU, JP, Others) contributes the most to global sales?
Which game has the highest sales in Japan?
Which publisher has the most sales in North America?
What are the top 5 games in Europe by sales?
How do regional sales compare across different platforms?

üéÆ Genre, Console & Developer Insights
Which genre is most common in the dataset?
What is the average user score for each console?
Which developer has the highest average sales per game?
Which genres perform better in North America vs. Japan?
Are games with user scores above 8 more successful globally than those below 8?

In [23]:
#What is the average global sales of all games?
df["total_sales"].mean()

0.34911267307895577

In [27]:
#Which game has the highest global sales?
df.groupby("title")["total_sales"].value_counts().idxmax()

('ProStroke Golf: World Tour 2007', 0.0)

In [29]:
df.loc[df['total_sales'].idxmax(), ['title', 'total_sales']]

title          Grand Theft Auto V
total_sales                 20.32
Name: 0, dtype: object

In [47]:
#Which console has the highest total sales? 
df.groupby("console")["total_sales"].sum().idxmax()

'PS2'

In [53]:
#What is the total number of games released per console?
df["console"].value_counts()

console
PC      12617
PS2      3565
DS       3288
PS4      2878
PS       2707
        ...
TG16        3
FDS         1
C128        1
Aco         1
BBCM        1
Name: count, Length: 81, dtype: int64

In [59]:
#Which publisher has released the most games? 
df["publisher"].value_counts().idxmax()

'Unknown'

In [65]:
#Which genre has the highest average sales per game?
df.groupby("genre")["total_sales"].mean().idxmax()

'Sandbox'

In [81]:
#What are the top 10 best-selling games of all time in this dataset? 
#top_ten = df.groupby("title")["total_sales"].value_counts()
#top_ten.head(10)
df.sort_values(by='total_sales', ascending=False).head(10)[['title', 'total_sales']]

                            title  total_sales
0              Grand Theft Auto V        20.32
1              Grand Theft Auto V        19.39
2     Grand Theft Auto: Vice City        16.15
3              Grand Theft Auto V        15.86
4       Call of Duty: Black Ops 3        15.09
5  Call of Duty: Modern Warfare 3        14.82
6         Call of Duty: Black Ops        14.74
7           Red Dead Redemption 2        13.94
8      Call of Duty: Black Ops II        13.86
9      Call of Duty: Black Ops II        13.80

In [99]:
import datetime as dt
#Which year saw the most game releases? 
df['release_date'].dt.year.value_counts().idxmax()

AttributeError: Can only use .dt accessor with datetimelike values

In [101]:
#What is the average critic score of games by genre?
df.groupby("genre")["critic_score"].mean()

genre
Action              6.831008
Action-Adventure    7.678378
Adventure           7.341058
Board Game          5.300000
Education           7.750000
Fighting            7.392424
MMO                 7.781818
Misc                6.884593
Music               7.992593
Party               5.968750
Platform            7.307638
Puzzle              7.201049
Racing              7.187524
Role-Playing        7.470920
Sandbox             9.200000
Shooter             7.276800
Simulation          6.914719
Sports              7.291027
Strategy            7.431733
Visual Novel        8.500000
Name: critic_score, dtype: float64

genre
Action              6.831008
Action-Adventure    7.678378
Adventure           7.341058
Board Game          5.300000
Education           7.750000
Fighting            7.392424
MMO                 7.781818
Misc                6.884593
Music               7.992593
Party               5.968750
Platform            7.307638
Puzzle              7.201049
Racing              7.187524
Role-Playing        7.470920
Sandbox             9.200000
Shooter             7.276800
Simulation          6.914719
Sports              7.291027
Strategy            7.431733
Visual Novel        8.500000
Name: critic_score, dtype: float64

In [105]:
# Is there a correlation between critic score and global sales?
# df[['critic_score', 'total_sales']].corr().iloc[0,1]
df["critic_score"].corr(df["total_sales"])

0.2811658100265467

Which region (NA, EU, JP, Others) contributes the most to global sales? Which game has the highest sales in Japan? Which publisher has the most sales in North America? What are the top 5 games in Europe by sales? How do regional sales compare across different platforms?

In [120]:
df.head(1)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN

In [140]:
#Which region (NA, PAL, JP, Others) contributes the most to global sales? 
region_sale=df[['na_sales', 'pal_sales', 'jp_sales', 'other_sales']].sum()
region_sale

na_sales       3345.52
pal_sales      1916.83
jp_sales        687.94
other_sales     651.12
dtype: float64

In [156]:
#Which game has the highest sales in Japan?
df.loc[df['jp_sales'].idxmax(), ['title', 'jp_sales']]

title       Hot Shots Golf
jp_sales              2.13
Name: 299, dtype: object

In [170]:
# Which publisher has the most sales in North America?
df.groupby("publisher")["na_sales"].sum().idxmax()

'Activision'

In [180]:
#What are the top 5 games in Europe by sales?
#top_five=df.groupby("title")["pal_sales"].sum()
df.sort_values(by='pal_sales', ascending=False).head(5)[['title', 'pal_sales']]

                 title  pal_sales
0   Grand Theft Auto V       9.85
1   Grand Theft Auto V       9.71
15             FIFA 18       8.64
17             FIFA 17       7.95
26             FIFA 19       6.87

In [184]:
#How do regional sales compare across different platforms?
df.groupby('console')[['na_sales', 'pal_sales', 'jp_sales', 'other_sales']].mean()

         na_sales  pal_sales  jp_sales  other_sales
console
2600     0.560476   0.033730       NaN     0.005476
3DO           NaN        NaN  0.047500          NaN
3DS      0.126542   0.090040  0.110423     0.016321
5200          NaN        NaN       NaN          NaN
7800          NaN        NaN       NaN          NaN
...           ...        ...       ...          ...
XOne     0.334411   0.236429  0.013103     0.046902
XS            NaN        NaN       NaN          NaN
ZXS           NaN        NaN       NaN          NaN
iOS           NaN        NaN       NaN          NaN
iQue          NaN        NaN       NaN          NaN

[81 rows x 4 columns]

Which genre is most common in the dataset? What is the average user score for each console? Which developer has the highest average sales per game? Which genres perform better in North America vs. Japan? Are games with user scores above 8 more successful globally than those below 8?

In [187]:
df.head(1)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN

In [193]:
#Which genre is most common in the dataset?
df["genre"].value_counts()

genre
Misc                9304
Action              8557
Adventure           6260
Role-Playing        5721
Sports              5586
Shooter             5410
Platform            4001
Strategy            3685
Puzzle              3521
Racing              3425
Simulation          3158
Fighting            2367
Action-Adventure    1877
Visual Novel         493
Music                297
Party                151
MMO                  115
Education             35
Board Game            33
Sandbox               20
Name: count, dtype: int64

In [199]:
#What is the average user score for each console? 
df.groupby('console')['critic_score'].mean().dropna()

console
3DS      7.054299
AJ       4.000000
All      8.760000
DC       7.064634
DS       7.127900
DSiW     6.385366
GB       7.644000
GBA      6.585302
GBC      9.100000
GC       6.994545
GEN      8.666667
Linux    8.700000
N64      7.275490
NES      8.680000
NGage    6.506667
NS       7.678030
OSX      8.750000
PC       7.546599
PS       7.209701
PS2      7.436387
PS3      7.412816
PS4      7.741892
PS5      7.666667
PSN      7.237222
PSP      6.870192
PSV      6.858333
SAT      8.100000
SCD      7.260000
SNES     8.433333
VC       7.889855
WW       6.913095
Wii      6.784726
WiiU     7.307407
X360     7.182003
XB       7.470149
XBL      7.172810
XOne     7.901389
XS       7.850000
iOS      7.580000
Name: critic_score, dtype: float64

In [207]:
#Which developer has the highest average sales per game? 
df.groupby("developer")["total_sales"].mean().dropna().idxmax()

'Rockstar Games'

In [211]:
# Which genres perform better in North America vs. Japan?
df.groupby("genre")[["na_sales","jp_sales"]].mean()

                  na_sales  jp_sales
genre
Action            0.277893  0.084437
Action-Adventure  0.302744  0.058710
Adventure         0.191081  0.048435
Board Game        0.060000  0.013333
Education         0.170000       NaN
Fighting          0.297877  0.123911
MMO               0.207895  0.092667
Misc              0.244347  0.085212
Music             0.279247  0.114510
Party             0.111250  0.198333
Platform          0.231763  0.146604
Puzzle            0.136645  0.173195
Racing            0.222358  0.082571
Role-Playing      0.217304  0.132012
Sandbox           0.690000  0.520000
Shooter           0.432300  0.080736
Simulation        0.221829  0.110368
Sports            0.308517  0.165812
Strategy          0.130000  0.127778
Visual Novel      0.035000  0.023868

In [225]:
# Are games with user scores above 8 more successful globally than those below 8?
high_rated = df[df['critic_score'] > 8]['total_sales'].mean()
low_rated = df[df['critic_score'] <= 8]['total_sales'].mean()
print({">8 score avg sales": high_rated, "<=8 score avg sales": low_rated})

{'>8 score avg sales': 1.403916083916084, '<=8 score avg sales': 0.48146545942320584}