In [1]:
import pandas as pd

In [13]:
df=pd.read_csv("OneDrive/Desktop/successful_educations.csv")

In [15]:
df

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997.0,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975.0,USA,5,NaN,Dean’s List
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995.0,USA,3,3.8,Fellowship in Engineering
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995.0,USA,2,3.9,Hoover Fellowship
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986.0,USA,16,3.6,Marquis Scholar
...,...,...,...,...,...,...,...,...,...,...
103,Eduardo Saverin,Entrepreneur,Bachelor,Economics,Harvard University,2006.0,USA,3,3.7,NaN
104,Vagit Alekperov,Business,Bachelor,Engineering,Azarbayjan State Oil Academy,1975.0,Azerbaijan,NaN,3.6,NaN
105,Stefan Quandt,Business,Bachelor,Engineering,Technical University of Darmstadt,1994.0,Germany,NaN,3.7,NaN
106,Susanne Klatten,Business,Bachelor,Economics,Technical University of Munich,1993.0,Germany,NaN,3.8,NaN
107,Cyrus Poonawalla,Business,Bachelor,Pharmacy,University of Pune,1966.0,India,NaN,3.7,NaN

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       108 non-null    object
 1   Profession                 108 non-null    object
 2   Degree                     106 non-null    object
 3   Field                      105 non-null    object
 4   Institution                106 non-null    object
 5   Graduation Year            99 non-null     float64
 6   Country                    108 non-null    object
 7   University Global Ranking  73 non-null     object
 8   GPA (or Equivalent)        93 non-null     object
 9   Scholarship/Award          80 non-null     object
dtypes: float64(1), object(9)
memory usage: 8.6+ KB

What is the average graduation year of individuals in the dataset?

Which profession has the highest average GPA?

What is the most common field of study among the individuals?

How many individuals received a scholarship or award?

What is the distribution of individuals by country?

Which university appears most frequently in the dataset?

What is the average university global ranking for tech executives?

How many individuals graduated after the year 2000?

What is the most common degree among entrepreneurs?

Which institution has the highest average GPA?

What is the correlation between graduation year and GPA (if numeric)?

How many individuals have a Master’s degree or higher?

What is the average GPA by field of study?

Which profession has the most recipients of scholarships or awards?

What is the average global ranking of universities attended by individuals from the USA?

How many individuals did not complete a degree (e.g., Dropped Out)?

Which field has the most graduates?

What is the average graduation year for each profession?

How many individuals attended Ivy League schools?

Which university produced the most entrepreneurs in the dataset?

In [25]:
#What is the average graduation year of individuals in the dataset?
df["Graduation Year"].mean()

1986.3232323232323

In [79]:
#Which profession has the highest average GPA?
df.groupby('Profession')['GPA (or Equivalent)'].mean().idxmax()

TypeError: agg function failed [how->mean,dtype->object]

In [37]:
#What is the most common field of study among the individuals?
df["Field"].value_counts().idxmax()

'Computer Science'

In [47]:
#How many individuals received a scholarship or award?
df["Scholarship/Award"].value_counts().sum()

80

In [49]:
#What is the distribution of individuals by country?
df["Country"].value_counts()

Country
USA             69
China           12
UK               5
France           4
Germany          4
India            3
Mexico           2
Japan            2
Canada           1
South Africa     1
Australia        1
Switzerland      1
Italy            1
Austria          1
Azerbaijan       1
Name: count, dtype: int64

In [53]:
df.head()

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997.0,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975.0,USA,5,NaN,Dean’s List
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995.0,USA,3,3.8,Fellowship in Engineering
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995.0,USA,2,3.9,Hoover Fellowship
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986.0,USA,16,3.6,Marquis Scholar

In [55]:
df["Institution"].value_counts().idxmax()

'Harvard University'

In [83]:
 df[df['Profession'] == 'Tech Executive']['University Global Ranking'].mean()

TypeError: Could not convert string '32301–350264' to numeric

In [63]:
len(df[df["Graduation Year"]>2000])

16

In [69]:
df["Degree"].value_counts().idxmax()

'Bachelor'

In [71]:
df["Institution"].value_counts().idxmax()

'Harvard University'

In [75]:
df.head(3)

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997.0,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975.0,USA,5,NaN,Dean’s List
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995.0,USA,3,3.8,Fellowship in Engineering

In [77]:
df["Graduation Year"].corr(df["GPA (or Equivalent)"])

ValueError: could not convert string to float: 'First Class Honours'



How many individuals have a Master’s degree or higher?

What is the average GPA by field of study?

Which profession has the most recipients of scholarships or awards?

What is the average global ranking of universities attended by individuals from the USA?

How many individuals did not complete a degree (e.g., Dropped Out)?

Which field has the most graduates?

What is the average graduation year for each profession?

How many individuals attended Ivy League schools?

Which university produced the most entrepreneurs in the dataset?

In [90]:
df.head(1)

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997.0,USA,13,3.7,Dean’s List

In [92]:
df["Degree"].unique()

array(['Bachelor of Science', 'Dropped Out', 'Master of Science',
       'Master of Business Administration', 'Honorary Doctorate',
       'Undergraduate Studies', 'Doctor of Philosophy', 'Juris Doctor',
       'Master of Arts', 'Bachelor of Arts', 'High School', 'PhD',
       'Bachelor', nan, 'Master', 'MBA', 'Master/MBA', 'MD', 'Dropout',
       'Engineering', 'No Degree'], dtype=object)

In [102]:
df["Degree"].isin(['Master', 'PhD']).sum()

21

In [166]:

df.groupby('Field')['GPA (or Equivalent)'].sum()

Field
Animal Science                                                               3.8
Anthropology                                                              3.63.7
Astrophysics                                                                 3.9
Biology                                                                      3.8
Business                                             3.83.63.93.73.83.83.73.93.9
Business Administration                                             3.93.83.63.5
Commerce                                                                       0
Computer Engineering                                                         3.9
Computer Science                               3.53.93.93.73.94.03.83.84.03.93.9
Computer Science and Electrical Engineering                                  3.6
Computer Science/Philosophy                                                  3.6
Creative Writing                                                             3.9
Drama                                                                          0
Economics                                         3.93.94.03.83.63.73.83.83.73.8
Electrical Engineering                                                    3.83.8
Engineering                                          3.93.93.93.83.73.73.83.63.7
Engineering/Business                                                         4.0
English                                                                3.63.93.9
English Literature                                            3.5Magna Cum Laude
English/African American Studies                                             3.7
Experimental Film                                                            3.7
Fashion Management                                                   First Class
French/Classics                                                         02:02:00
General                                                                        0
Law                                                       3.13.7Honor Society3.8
Liberal Arts                                                                 3.8
Management                                                                3.73.6
Material Sciences and Engineering                                            3.8
Mathematics                                                               3.84.0
Medicine                                                   Magna Cum Laude3.93.6
Music                                                                        3.8
Neuroscience                                                                 4.0
Pharmacy                                                                     3.7
Philosophy                                                First Class Honours3.8
Physical Chemistry                                                             0
Physics                                                      First Class Honours
Physics & Economics                                                          3.7
Playwriting                                                                  3.7
Political Science                                                Summa Cum Laude
Psychology                                                                   3.9
Sociology                                                                 3.73.7
Software Engineering                                                         3.9
Television & Radio                                                           3.6
Theatre Arts                                                                 3.7
computer science                                                               0
computer science and psychology                                                0
mechanical engineering                                                       3.7
speech communications and performing arts                                      0
Name: GPA (or Equivalent), dtype: object

In [134]:
df.groupby('Profession').size().idxmax()

'Entrepreneur'

In [177]:
df[df['Country'] == 'USA']['University Global Ranking'].mean()

TypeError: can only concatenate str (not "int") to str

In [150]:
len(df[df["Degree"]=="Dropped Out"])

2

In [152]:
df['Field'].mode()[0]

'Computer Science'

In [162]:
df["Graduation Year"].value_counts().mean()

2.25

In [173]:
 df.groupby('Profession')['Graduation Year'].mean()

Profession
Activist                 2021.000000
Actor                    2003.000000
Actor/Comedian           1998.000000
Actor/Podcaster          1997.000000
Actor/Scientist          2007.000000
Actor/Singer             2003.000000
Actor/Writer             2001.000000
Astrophysicist           1991.000000
Athlete                  2021.000000
Author                   1992.000000
Author/Philanthropist    1992.000000
Business                 1979.933333
Business Executive       1983.500000
Business Leader          1980.000000
Comedian                         NaN
Comedian/Actor           2000.000000
Education Executive      2003.000000
Entrepreneur             1984.035714
Fashion                  1971.000000
Film Director            1995.000000
Finance                  1974.750000
Investor                 1951.000000
Journalist               1993.000000
Lawyer/Author            1988.000000
Media Executive          1980.000000
Musician                 1987.500000
Nonprofit Executive      2002.000000
Philanthropist           1987.000000
Physicist                1966.000000
Politician               1989.250000
Scientist                1903.000000
TV Host/Author           1992.000000
TV Host/Designer         2000.000000
Tech CEO                 1991.400000
Tech Executive           1993.400000
Name: Graduation Year, dtype: float64

In [183]:
 df['Institution'].isin(Ivy League school).sum()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1428279060.py, line 1)

In [181]:
df["Institution"].unique()

array(['University of Pennsylvania', 'Harvard University',
       'Stanford University', 'Harvard Business School',
       'Princeton University', 'Yale School of Management',
       'Tennessee State University', 'University of Wisconsin–Milwaukee',
       'University of Oxford', 'University of Paris',
       'Harvard Law School', 'Fuqua School of Business (Duke University)',
       'University of California', 'University of Leipzig',
       'University of Toronto', 'Brown University',
       'Los Angeles Center for Enriched Studies', 'Cambridge University',
       'University of Exeter', 'Los Angeles City College', 'UC Hastings',
       'Hangzhou Normal University', 'Columbia University',
       'Duke University', 'Stowe School', 'UC Santa Cruz',
       'Hannover Medical School', 'Ithaca College', 'Yale Law School',
       'MIT/Harvard', 'Clark University', 'SUNY Albany',
       'UNC Chapel Hill', 'Yale University', 'Dartmouth College',
       'Grinnell College', 'UCLA', 'Doncaster College',
       'Johns Hopkins University', nan, 'University of Kentucky',
       'NYU Tisch', 'University of Chicago', 'University of Texas', 'MIT',
       'University of Arkansas', 'Gujarat University',
       'École Polytechnique', 'UNAM', 'UC Berkeley', 'Bryn Mawr College',
       'University of Sydney', 'PSG College of Technology',
       'University of Fribourg', 'University of Milan',
       'Nankai University', 'SUNY Buffalo', 'Wuhan University',
       'Renmin University', 'Shenzhen University',
       'University of Wisconsin', 'University of Electronic Science',
       'University of Delaware', 'Waseda University',
       'Osaka Institute of Technology', 'China Agricultural University',
       'South China University', 'Nanjing University',
       'Tsinghua University', 'Universidad Nacional Autonoma de Mexico',
       'Trinity College', 'Fachhochschule Salzburg',
       'Azarbayjan State Oil Academy',
       'Technical University of Darmstadt',
       'Technical University of Munich', 'University of Pune'],
      dtype=object)

In [185]:
df[df['Profession'] == 'Entrepreneur']['Institution'].mode()[0]

'Harvard University'