In [31]:
import pandas as pd

In [32]:
df =pd.read_csv("/content/pokemon_data.csv")

In [33]:
df

,id,name,base_experience,height,weight,types,abilities,moves,stats
0,1,bulbasaur,64,7,69,"grass, poison","overgrow, chlorophyll","razor-wind, swords-dance, cut, bind, vine-whip","hp=45, attack=49, defense=49, special-attack=6..."
1,2,ivysaur,142,10,130,"grass, poison","overgrow, chlorophyll","swords-dance, cut, bind, vine-whip, headbutt","hp=60, attack=62, defense=63, special-attack=8..."
2,3,venusaur,236,20,1000,"grass, poison","overgrow, chlorophyll","swords-dance, cut, bind, vine-whip, headbutt","hp=80, attack=82, defense=83, special-attack=1..."
3,4,charmander,62,6,85,fire,"blaze, solar-power","mega-punch, fire-punch, thunder-punch, scratch...","hp=39, attack=52, defense=43, special-attack=6..."
4,5,charmeleon,142,11,190,fire,"blaze, solar-power","mega-punch, fire-punch, thunder-punch, scratch...","hp=58, attack=64, defense=58, special-attack=8..."
...,...,...,...,...,...,...,...,...,...
1297,10273,ogerpon-wellspring-mask,275,12,398,"grass, water",water-absorb,"swords-dance, slam, vine-whip, double-kick, ta...","hp=80, attack=120, defense=84, special-attack=..."
1298,10274,ogerpon-hearthflame-mask,275,12,398,"grass, fire",mold-breaker,"swords-dance, slam, vine-whip, double-kick, ta...","hp=80, attack=120, defense=84, special-attack=..."
1299,10275,ogerpon-cornerstone-mask,275,12,398,"grass, rock",sturdy,"swords-dance, slam, vine-whip, double-kick, ta...","hp=80, attack=120, defense=84, special-attack=..."
1300,10276,terapagos-terastal,90,3,160,normal,tera-shell,"headbutt, body-slam, take-down, double-edge, roar","hp=95, attack=95, defense=110, special-attack=..."
1301,10277,terapagos-stellar,90,17,770,normal,teraform-zero,"headbutt, body-slam, take-down, double-edge, roar","hp=160, attack=105, defense=110, special-attac..."

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1302 entries, 0 to 1301
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1302 non-null   int64
 1   name             1302 non-null   object
 2   base_experience  1302 non-null   int64
 3   height           1302 non-null   int64
 4   weight           1302 non-null   int64
 5   types            1302 non-null   object
 6   abilities        1302 non-null   object
 7   moves            1268 non-null   object
 8   stats            1302 non-null   object
dtypes: int64(4), object(5)
memory usage: 91.7+ KB

In [35]:
df.describe()

                 id  base_experience       height        weight
count   1302.000000      1302.000000  1302.000000   1302.000000
mean    2560.927803       161.943932    20.467742    980.863287
std     3949.887748        82.532554    54.180316   1972.645170
min        1.000000        36.000000     1.000000      0.000000
25%      326.250000        71.000000     5.000000     89.250000
50%      651.500000       165.000000    10.000000    315.500000
75%      976.750000       222.500000    16.000000    818.000000
max    10277.000000       608.000000  1000.000000  10000.000000

In [36]:
df.columns

Index(['id', 'name', 'base_experience', 'height', 'weight', 'types',
       'abilities', 'moves', 'stats'],
      dtype='object')

In [37]:
df.head(1)

,id,name,base_experience,height,weight,types,abilities,moves,stats
0,1,bulbasaur,64,7,69,"grass, poison","overgrow, chlorophyll","razor-wind, swords-dance, cut, bind, vine-whip","hp=45, attack=49, defense=49, special-attack=6..."

1)What is the average, minimum, and maximum of:

base_experience

height

weight

2)How many unique PokÃ©mon are there in the dataset?

3)What are the most and least common types of PokÃ©mon?

In [38]:
#1
df.describe()

                 id  base_experience       height        weight
count   1302.000000      1302.000000  1302.000000   1302.000000
mean    2560.927803       161.943932    20.467742    980.863287
std     3949.887748        82.532554    54.180316   1972.645170
min        1.000000        36.000000     1.000000      0.000000
25%      326.250000        71.000000     5.000000     89.250000
50%      651.500000       165.000000    10.000000    315.500000
75%      976.750000       222.500000    16.000000    818.000000
max    10277.000000       608.000000  1000.000000  10000.000000

In [39]:
#2
df["name"].nunique()

1302

In [40]:
#3
df["types"].str.split(', ').explode().value_counts()

types
water       186
normal      158
grass       152
flying      149
psychic     136
electric    110
dragon      107
bug         104
fire        103
poison      102
rock        102
fighting    100
dark         94
ground       93
ghost        92
steel        91
fairy        83
ice          66
Name: count, dtype: int64

4)What are the most common abilities among all PokÃ©mon?

5)Which PokÃ©mon has the highest number of moves listed?

6)Which move appears most frequently across all PokÃ©mon?

In [41]:
#4
most_abilities = df["abilities"].str.split(', ').explode().value_counts()
most_abilities.idxmax()

'sturdy'

In [45]:
#6
df["moves"].str.split(', ').explode().value_counts().head(5)

moves
take-down       483
body-slam       396
tackle          373
headbutt        359
swords-dance    338
Name: count, dtype: int64

7)What is the average value for each stat (e.g., hp, attack, defense, etc.)?

8)Which PokÃ©mon has the highest and lowest attack?

9)Is there a correlation between attack and weight?

In [46]:
def get_stat(x, stat):
    try:
        return int([i.split('=')[1] for i in x.split(', ') if i.startswith(stat)][0])
    except:
        return None

In [47]:
#7
df["stats"].apply(lambda x: get_stat(x, "hp"))

0        45
1        60
2        80
3        39
4        58
       ...
1297     80
1298     80
1299     80
1300     95
1301    160
Name: stats, Length: 1302, dtype: int64

In [48]:
df["stats"].apply(lambda x: get_stat(x, "attack"))

0        49
1        62
2        82
3        52
4        64
       ...
1297    120
1298    120
1299    120
1300     95
1301    105
Name: stats, Length: 1302, dtype: int64

In [49]:
df["stats"].apply(lambda x: get_stat(x, "defense"))

0        49
1        63
2        83
3        43
4        58
       ...
1297     84
1298     84
1299     84
1300    110
1301    110
Name: stats, Length: 1302, dtype: int64

In [55]:
#7
df["attack"] = df["stats"].apply(lambda x: get_stat(x, "attack"))

In [59]:
df.loc[df["attack"].idxmax(), ["name", "attack"]]

name      mewtwo-mega-x
attack              190
Name: 1067, dtype: object

In [58]:
df.loc[df["attack"].idxmin(), ["name", "attack"]]

name      chansey
attack          5
Name: 112, dtype: object

In [60]:
#9
df["attack"].corr(df["weight"])

np.float64(0.32722765848845875)