#Python Functions
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In Python a function is defined using the def keyword:

To call a function, use the function name followed by parenthesis...

In [ ]:
def sub(x1,x2):
  y = x1-x2
  return y
sub(9,5)

4

In [ ]:
def Force(M,A):
  force=M*A
  return(force)
Force(100,5)

500

In [ ]:
def kinetic (M,V):
  kineticenergy = 1/2 *M*V**2
  return(kineticenergy)
kinetic(106,5)

1325.0

In [ ]:
def fall(T):
  speed=1/2*9.8*T**2
  return(speed)
fall(5)

122.50000000000001

In [ ]:
def food(name,veg=True):
  if veg:
    print(f"{name} tu panner kha")
  else:
    print(f"{name} tu kabab kha")

In [ ]:
food("rohan",veg=False)

rohan tu kabab kha

In [ ]:
#even Number

In [ ]:

def even_no(a):
  s=[]
  for i in range(1,101):
    if i%2==0:
      s.append(i)
  return s
even_no(l)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
l=list(range(1,101))
def odd_no(a):
  for i in a:
     if i%2!=0:
      print(i)

In [ ]:
l=list(range(1,101))
odd_no(l)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
cust_id = ['IN002','IN003','US003','PK003',"PK004",'IN045','IN032']

In [ ]:
def country(cust_id):
  for i in cust_id:
    if i[0]=='I':
      print(i)

In [ ]:
country(['IN002','IN003','US003','PK003',"PK004",'IN045','IN032'])

NameError: name 'country' is not defined

In [ ]:
# "a" ,remove the name
#create a f(x) which will remove all the names with "a" in it

# names -----> f(x)---->names
my_list = ["akshata", "shubham", "sohail", "deniam", "kumkum", "azad", "ankit"]

In [ ]:
def remove_a(my_list):
  for i in my_list:
    if "a" in i:
      my_list.remove(i)
  return my_list

In [ ]:
remove_a(my_list)

['shubham', 'deniam', 'kumkum', 'ankit']

In [ ]:
def factorical(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact

In [ ]:
factorical(5)

120

In [ ]:
def reverse(s):
  int=len(s)
  str1=""
  while(int>0):
    str1=str1+s[int-1]
    int=int-1
  return str1

In [ ]:
reverse("sagar")

'ragas'

In [ ]:
def square(n):
  return n*n
square(6)

36

In [ ]:
vowel_list= ["akshata", "shubham", "sohail", "deniam", "kumkum", "azad", "ankit"]
for i in count_vowel(vowel_list):
  count

In [ ]:
def sayhello():
  print("helloWorld!")
sayhello()
sayhello()

helloWorld!
helloWorld!

In [ ]:
def max_no(a,b):
  if a>b:
    print(a,"is greater than",b)
  elif a==b:
    print(a,"equal to",b)
  else:
    print(a,"is small then",b)

In [ ]:
max_no(3,3)

3 equal to 3

In [ ]:
x=50
def fun(x):
  print("x is",x)
  x=2
  print("change local x to",x)
fun(x)
print("x is now",x)

x is 50
change local x to 2
x is now 50

The global Keyword

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
x="amzing"
def fun():
  print(x)

In [ ]:
fun()

amzing

In [ ]:
x="amzing"
def fun():
  global x
  x="awsome"
  print("python is "+x)

In [ ]:
fun()

python isawsome

In [ ]:
x=20
def fun():
  global x
  print("x is",x)
  x=2
  print("change local x to",x)
fun()
print("x is now",x)

x is 20
change local x to 2
x is now 2

In [ ]:
def fun(message,time=1):
  print(message*time)

In [ ]:
fun("hello")

hello

In [ ]:
fun("hellow",5)

hellowhellowhellowhellowhellow

In [ ]:
def func(a, b=5, c=10):
    print('a is', a, 'and b is', b, 'and c is', c)

func(3, 7)
func(25, c = 24)
func(c = 50, a = 100)

a is 3 and b is 7 and c is 10
a is 25 and b is 5 and c is 24
a is 100 and b is 5 and c is 50

# *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def small(*abc):
  min=abc[0]
  for i in abc[1:]:
    if i<min:
      min = i
  return min

In [ ]:
small(2,3,4,5,6,7,8,9,1)

1

In [ ]:
small

In [ ]:
#print biggest number in series
def motha(*a):
  max=a[0]
  for i in a[1:]:
    if i>max:
      max=i
  return max

In [ ]:
motha(1,2,5,4,6,99,2,4,5,66,66,44,555)

555

In [ ]:
#add of list
l=[[1,2,3,4,5],[22,55,36,66,85],[88,65,24]]
s=[]
for i in l:
  s.append(sum(i))
print(s)

[15, 264, 177]

# **args
 make in dictnary form

In [ ]:
def h(**R):
  n=int(input("total subject marks"))
  total_marks=sum(R.values())
  for i in R.keys():
    print(f"In {i} I got {R[i]} marks")
  print(f"percentage {(total_marks/n)*100}")

In [ ]:
h(science=35,math=65,hindi=96,marathi=94)

total subject marks500
In science I got 35 marks
In math I got 65 marks
In hindi I got 96 marks
In marathi I got 94 marks
percentage 57.99999999999999

In [ ]:
l = ['üçâ',"üçó","üíÄ","üßÇ","üíÄ","üßÇ","üíÄ","üßÇ","üíÄ","üßÇ","üíÄ","üßÇ","üíÄ","üßÇ",'üçâ',"üçó",'üçâ',"üçó",'üçâ',"üçó",'üçâ',"üçó",'üçâ',"üçó","üçó","üíÄ","üçó","üíÄ","üçó","üíÄ","üçó","üíÄ"]

In [ ]:
s=list(filter(lambda x:x==["üíÄ","üßÇ"],l))
s

[]

In [ ]:
def g(**a):
  salary=sum(a.values())
  for i in salary:
    if i==salary:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    prev, curr = 0, 1
    for _ in range(2, n + 1):
        prev, curr = curr, prev + curr
    return curr
    print()

IndentationError: expected an indented block after 'if' statement on line 4 (<ipython-input-17-828d1642df5c>, line 5)

In [ ]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    prev, curr = 0, 1
    for _ in range(2, n + 1):
        prev, curr = curr, prev + curr
    return curr

In [ ]:
fibonacci(5)

5

0 1 1 2 3 5 8 13 21.....

Jyamadhye ek term agodar chya don term chi addition aste

Js ki

0+1=1
1+=2
2+1=3
3+2=5
5+3=8

In [ ]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

In [ ]:
fibonacci(10)

55

In [ ]:
#Palindrome Checker
#Write a function is_palindrome(s) that checks if a string is a palindrome (reads the same backward as forward).
def palindrome(s):
  if s==s[::-1]:
    print(f"{s} string is palindrome")
  else:
    print(f"{s} string is not palindrome")

In [ ]:
palindrome("madam")

madam string is palindrome

In [ ]:
palindrome("sagar")

sagar string is not palindrome

In [ ]:
def palindrome_string(s):
  return s==s[::-1]

In [ ]:
palindrome_string("madam")

True

In [ ]:
#Prime Number Checker in Python
for i in range(2,101):
  i=range(2,101)
  if i<=1:
    print(i)
  elif i%n==0:
    print(i)

TypeError: '<=' not supported between instances of 'range' and 'int'

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [num for num in range(1, 101) if is_prime(num)]
print("Prime numbers from 1 to 100 are:")
print(primes)

Prime numbers from 1 to 100 are:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
def prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [ ]:
prime(13)

True

In [ ]:
l=list(range(1,100))
prime(l)

TypeError: '<=' not supported between instances of 'list' and 'int'

In [ ]:
#key=names ,values=salary
def salary(**a):
  s=sum(a.values())
  for i in a.keys():
    print(f"{i} salary is {a[i]}")
  print(f"total salary {s}")

In [ ]:
salary(sagar=20000,harshada=15000,varun=14000)

sagar salary is 20000
harshada salary is 15000
varun salary is 14000
total salary 49000

In [ ]:
x= lambda a, b : a - b
print(x(5, 3))

2

In [ ]:
def thrive(n):
 if n % 15 == 0:
   print("thrive", end = ' ')
 elif n % 3 != 0 and n % 5 != 0:
   print("neither", end = ' ')
 elif n % 3 == 0:
   print("three", end = ' ')
 elif n % 5 == 0:
   print("five", end = ' ')
thrive(35)
thrive(56)
thrive(15)
thrive(39)

five neither thrive three

In [ ]:
s=[3,5,4,2,5,6]
h=[]
def measure():
  for i in s:
    r=0.5*9.8**i
    h.append(r)
  return h

In [ ]:
measure()

[470.5960000000001,
 45196.03984000002,
 4611.840800000002,
 48.02000000000001,
 45196.03984000002,
 442921.1904320002]

In [ ]:
def kha(name,veg=True):
  if veg:
    print(f"{name} tu paneer briyani kha")
  else:
    print(f"{name} tu chiken briyani kha")

In [ ]:
kha("sagar","1")

sagar tu paneer briyani kha