#SET
Created using curly braces {} or the set() constructor. Store unordered collections of unique elements.
Sets are used to store multiple items in a single variable.
A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

Set Items--
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered--
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable--
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Duplicates Not Allowed-
Sets cannot have two items with the same value.

In [ ]:
l={1}
type(l)

set

In [ ]:
l={} # it is not set
type(l)

dict

In [ ]:
#it is only way to create empty set by using "set()" keyword
a=set()
print(a)

set()

In [ ]:
dir(l)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
a=1,5,3,5,9
type(a)
print(a)

(1, 5, 3, 5, 9)

In [ ]:
# make union without using union fuction
a={1,2,3,4,5}
b={4,5,6,7,8}
(a-b)(a-b)

set()

In [ ]:
a={True,False,False}
print( a)

{False, True}

In [ ]:
#Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:
#Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:
a={1,2,3,0,False,True,"sagar","ramesh"}
print(a)

{0, 1, 2, 3, 'sagar', 'ramesh'}

In [ ]:
#Length of a Set
#To determine how many items a set has, use the len() function.
len(a)

6

In [ ]:
#A set can contain different data types:
#A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

In [ ]:
s={"sagar","ramesh","bobade"}
for i in s:
  print(i)

ramesh
sagar
bobade

In [ ]:
#Check if "bobade" is present in the set:
if "bobade" in s:
  print("Yes, 'bobade' is in the sets")

Yes, 'bobade' is in the sets

In [ ]:
if "sagar" not in s:
  print("No, 'sagar' is not in the sets")

In [ ]:
#Add Items---->
#Once a set is created, you cannot change its items, but you can add new items.
#To add one item to a set use the add() method.
s.add("Ganesh")
print(s)

{'ramesh', 'sagar', 'bobade', 'Ganesh'}

In [ ]:
#we cannot add list in set by "add" keyword  but tuples can added
a={1,2,3,4,5}
b=[6,7,8,9]
a.add(b)
print(a)

TypeError: unhashable type: 'list'

In [ ]:
#Add Sets------->
#To add items from another set into the current set, use the update() method.
a={"sagar","ramesh","bobade"}
b={"sunita","ganesh","bobade"}
a.update(b)
print(a)

{'ramesh', 'sagar', 'bobade', 'ganesh', 'sunita'}

In [ ]:
a={"sagar","ramesh","bobade"}
b=[1,2,3,4]
a.update(b)
print(a)

{'ramesh', 'sagar', 2, 1, 3, 4, 'bobade'}

In [ ]:
#Remove Item----->
#To remove an item in a set, use the remove(), or the discard() method.
a={"banana","apple","mango"}
a.remove("apple")
print(a)

{'mango', 'banana'}

In [ ]:
a.discard("banana")
print(a)

{'mango'}

In [ ]:
a.add("orange")
a.add("grapes")
a.add("watermelon")
print(a)

{'mango', 'orange', 'watermelon', 'grapes'}

In [ ]:
len(a)

4

In [ ]:
#You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.
#The return value of the pop() method is the removed item. ### it remove first element of set do'not except indexing
a.pop()
print(a)

{'grapes'}

In [ ]:
#The clear() method empties the set:
a.clear()
print(a)

set()

In [ ]:
a.add("orange")
a.add("grapes")
a.add("watermelon")
print(a)

{'watermelon', 'orange', 'grapes'}

In [ ]:
#The del keyword will delete the set completely:
del a   #...this will raise an error because the set no longer exists
print(a)

NameError: name 'a' is not defined

#Join Sets

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

In [ ]:
#it will take all element in set a and set b but avoid duplicates
a={"sagar","ramesh","bobade"}
b={"sunita","ganesh","bobade"}
c=a.union(b)
print(c)

{'ramesh', 'sagar', 'bobade', 'ganesh', 'sunita'}

In [ ]:
# Also denoted by the operator |
c=a|b
print(c)

{'ramesh', 'sagar', 'bobade', 'ganesh', 'sunita'}

In [ ]:
abc={"sagar","ramesh","Bobade"}
xyz={"sunita","ganesh","bobade"}
qwe={1,2,3,4,5}
asd={True,False,False}
a=abc|xyz|qwe|asd
print(a)

{'ramesh', 'sagar', 'Bobade', 1, 2, 3, 'ganesh', 4, 5, False, 'bobade', 'sunita'}

In [ ]:
#Join a Set and a Tuple--->
#The union() method allows you to join a set with other data types, like lists or tuples.

#The result will be a set.
a={"sagar","ramesh","bobade"}
b=("sunita","ganesh","bobade")
c=a.union(b)
print(c)

{'ramesh', 'sagar', 'ganesh', 'bobade', 'sunita'}

In [ ]:
#Join a Set and a list--->
a={"sagar","ramesh","bobade"}
b=["sunita","ganesh","bobade"]
c=a.union(b)
print(c)

{'ramesh', 'sagar', 'ganesh', 'bobade', 'sunita'}

### <code>intersection()</code>


* <code>intersection()</code> method returns the intersection of two sets


* Also denoted by the operator <code>&</code>

In [ ]:
# BY intersection it will give common element in Set A and Set B
A={1,2,3,4,5}
B={4,5,6,7,8}
C=A.intersection(B)
print(C)

{4, 5}

In [ ]:
#it aslo denote by operator &
C=A&B
print(C)

{4, 5}

### <code>difference()</code>


* <code>difference()</code> method returns the difference of two sets


* Difference of the set <code>B</code> from set <code>A</code> i.e, <code>(A - B)</code> is a set of elements that are only in <code>A</code> but not in <code>B</code>


* Also denoted by the operator <code>-</code>

In [ ]:
# it will Minus Set a from Set b  it will
a={1,2,3,4,5}
b={4,5,6,7,8}
c=a.difference(b)
print(c)

{1, 2, 3}

In [ ]:
#Also denoted by the operator -
c=a-b
print(c)

{1, 2, 3}

### <code>symmetric_difference()</code>


* <code>symmetric_difference()</code> method returns the set of elements in A and B but not in both (excluding the intersection)


* Also denoted by the operator <code>^</code>

In [ ]:
# It will give element form Set A and Set B but not common element in Set A and Set B
A={1,2,3,4,5}
B={4,5,6,7,8}
C=A.symmetric_difference(B)
print(C)

{1, 2, 3, 6, 7, 8}

In [ ]:
#Also denoted by the operator ^
C=A^B
print(C)

{1, 2, 3, 6, 7, 8}

In [ ]:
def max(a,b,c):
  return max
  print(max(25,35,64))