#Python Tuples

Tuple=
Tuples are used to store multiple items in a single variable.
Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
# 1. Creating a tuple
my_tuple = (10, "world", 3.14)
print("\nTuple:", my_tuple)

# 2. Accessing elements
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])

# 3. Tuples are immutable
print("Tuples are immutable. Cannot modify elements.")

# 4. Tuple methods
print("Length of the tuple:", len(my_tuple))
print("Number of occurrences of 10:", my_tuple.count(10))
print("Index of 'world':", my_tuple.index("world"))

# 5. Creating special tuples
empty_tuple = ()  # Empty tuple
single_element_tuple = (5,)  # Siprint("List after removing an element:", my_list)

In [ ]:
#Create a Tuple:
t=("apple","banana","cherry")
print(t)

('apple', 'banana', 'cherry')

In [ ]:
# if you want make one and only one element tuple use comma(,).............interview questions
l=("sagar",)
type(l)

tuple

In [ ]:
# we cannot change tuple .......in interview ask can we change tuple .....so--->answer: we can convert tuple into list
t=(4,5,3,5)
t=list(t)
t[2]=10
t=tuple(t)
print(t)

TypeError: 'tuple' object is not callable

In [ ]:
#Tuples allow duplicate values:
tuple=("apple","banana","cherry","apple","cherry")
print(tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
#Print the second item in the tuple:
t=("apple","banana","cherry","mango","orange")
print(t[1])

banana

In [ ]:
#Negative Indexing
#Negative indexing means start from the end.
#-1 refers to the last item, -2 refers to the second last item etc.
tuple[-1]

'cherry'

In [ ]:
# we can do slicing
t[0:3]

('apple', 'banana', 'cherry')

In [ ]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple
t=("apple","mango","orange")
t=list(t)
t.append("banana")
t=tuple(t)
t

TypeError: 'tuple' object is not callable

In [ ]:
#Create a new tuple with the value "orange", and add that tuple:
t=("sagar","ramesh","Sunita")
y=("ganesh",)
t += y
print(t)

('sagar', 'ramesh', 'Sunita', 'ganesh')

In [ ]:
t=("sagar","ramesh","Bobade")
t[0::-3]

('sagar',)

In [ ]:
# we can find length of tuple
len(t)

3

In [ ]:
# we can join tuple
a=("sagar","bobade","ramesh")
b=(1,2,3,4,5)
c=a+b
print(c)

('sagar', 'bobade', 'ramesh', 1, 2, 3, 4, 5)

In [ ]:
#Multiply the fruits tuple by 2:
fruites=("apple","mango","banana")
mul=fruites*5
print(mul)

('apple', 'mango', 'banana', 'apple', 'mango', 'banana', 'apple', 'mango', 'banana', 'apple', 'mango', 'banana', 'apple', 'mango', 'banana')

In [ ]:
fruites

('apple', 'mango', 'banana')

In [ ]:
#count()	Returns the number of times a specified value occurs in a tuple
fruites.count("apple")

1

In [ ]:
#index()	Searches the tuple for a specified value and returns the position of where it was found
fruites.index("apple")

0

In [ ]:
#create a LIST OF TUPLE of your name ,location,degree,age
#create a List of food ,and replace on item
#create a tuple without round brakect
#find length of tuple
#convert a list into tuple

In [ ]:
#create a LIST OF TUPLE of your name ,location,degree,age
l1=['sagar','ramesh',"ganesh"]
l2=["phaltan","mumbai","satara"]
l3=["B.E","10","B.com"]
l4=[22,50,13]

In [ ]:
a=list(zip(l1,l2,l3,l4))

In [ ]:
print(a)

[('sagar', 'phaltan', 'B.E', 22), ('ramesh', 'mumbai', '10', 50), ('ganesh', 'satara', 'B.com', 13)]

In [ ]:
a.append(("sunita","pune","B.E",50))

In [ ]:
a

[('sagar', 'phaltan', 'B.E', 22),
 ('ramesh', 'mumbai', '10', 50),
 ('ganesh', 'satara', 'B.com', 13),
 ('sunita', 'pune', 'B.E', 50)]

In [ ]:
#create a List of food ,and replace on item
food=["maska pav","butter chicken","paneer tikka"]
food[0]="chiken tikka"
food

['chiken tikka', 'butter chicken', 'paneer tikka']

In [ ]:
#create a tuple without round brakect
a=5,3,6,9,5
print(a)

(5, 3, 6, 9, 5)

In [ ]:
#find length of tuple
len(a)

5

In [ ]:
#convert a list into tuple
t=["sagar","Ramesh","Bobade",]
print(tuple(t))

TypeError: 'tuple' object is not callable

In [ ]:
#dir() it is use to what we function can use for string ,tuple,number,

In [ ]:
a=(1,2,3,4,5)
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

MCQ
2. Suppose t = (1, 2, 4, 3), which of the following is incorrect?

a) print(t[3])

--->b) t[3] = 45

c) print(max(t))

d) print(len(t))

In [ ]:
t=(1,2,3,4)

In [ ]:
t[1]

2

In [ ]:
t = (1, 2, 4, 3, 8, 9)
[t[i] for i in range(0, len(t), 2)]

[1, 4, 8]

In [ ]:
t

(1, 2, 4, 3, 8, 9)

In [ ]:
d={"sagar":40,"varun":52}
d["sagar"]

40

In [ ]:
#Compare first elements: 1 == 1 → Equal, move to the next.
#Compare second elements: 2 == 2 → Equal, move to the next.
#Compare third elements: 4 > 3 → False! (Comparison stops here.)
#Since 4 > 3, Python determines that t1 is not less than t2, so the result is False.
t1 = (1, 2, 4, 3)
t2 = (1, 2, 3, 4)
t1 < t2

False

In [ ]:
numberGames = {}
numberGames[(1,2,4)] = 8
numberGames[(4,2,1)] = 10
numberGames[(1,2)] = 12
sum = 0
for k in numberGames:
    sum += numberGames[k]
print(len(numberGames) + sum)

33

In [ ]:
s=["milk","sugar","vegtable","meat"]
v=["vit C","vit A","vit K","vit B"]
p=["Panner","laddu","mix veg","mutton briyani"]
a=list(zip(s,v,p))
print(a)

[('milk', 'vit C', 'Panner'), ('sugar', 'vit A', 'laddu'), ('vegtable', 'vit K', 'mix veg'), ('meat', 'vit B', 'mutton briyani')]

In [ ]:
s=["milk","sugar","vegtable","meat"]
s=tuple(s)

In [ ]:
s

('milk', 'sugar', 'vegtable', 'meat')

In [ ]:
a=list(a[2])
a

['m', 'i', 'x', ' ', 'v', 'e', 'g']

In [ ]:
s=(1)
type(s)

int

In [ ]:
l=["eggs","jam","bread","ice-cream"]
c=[6,25,20,30]
q=[12,2,1,6]
a=list(zip(l,c,q))
print(a)

[('eggs', 6, 12), ('jam', 25, 2), ('bread', 20, 1), ('ice-cream', 30, 6)]